.bloco-section {
    text-align: center;
    margin: 0 30px;
    font-size: 14px;
}

.bloco-conteudo {
    width: 70%;
}

.bloco-container {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titulo-bloco {
    padding: 2vh 0 2vh 0;
    box-sizing: border-box;
    text-align: start;
    font-size: 20px;
}

.bloco-verde {
    color: #7fba00;
}

.bloco-azul {
    color: #00a4ef;
}

.bloco-amarelo {
    color: #ffb900;
}

.texto-bloco {
    padding: 0 0 20px 0;
    color: #737373;
}

.bloco-buttom {
    padding: 15px;
    background-color: transparent;
    border: 1px solid;
    margin-bottom: 4vh;
}

.linha-cinza-mobile {
    height: 2px;
    background-color: #dedede;
}

.linha-cinza-desk {
    display: none;
}

.bloco-logo {
    display: block;
    margin: 0;
}

.button-wrapper {
    width: 100%;
    text-align: start;
    box-sizing: border-box;
}

@media(min-width: 1024px) {
    .bloco-container {
        display: flex;
        flex-wrap: wrap;
        width: calc(33% - 50px);
        justify-content: center;
    }
    .bloco-desk {
        margin-top: 5vh;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .linha-cinza-mobile {
        display: none;
    }
    .bloco-conteudo {
        width: 100%;
        order: 3;
        text-align: center;
    }
    .titulo-bloco {
        text-align: center;
    }
    .button-wrapper {
        text-align: center;
        order: 5;
    }
    .linha-cinza-desk {
        display: block;
        height: 3px;
        background-color: #dedede;
        order: 2;
        width: 50px;
        margin: 0 auto 15px;
    }
}