.formulario-titulo {
    padding: 3vh 3vh 4vh 3vh;
    text-align: center;
    color: #737373;
    font-size: 18px;
}

.label-formulario {
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
    color: #737373;
}

.form-formulario {
    box-sizing: border-box;
    background-color: #e6e6e6;
    padding: 22px;
    margin-right: 30px;
    margin-left: 30px;
    max-width: 300px;
    margin: 0 auto;
}

.input-formulario {
    margin: 9px 5px 9px 5px;
    width: 100%;
    padding: 2vh 0 2vh 2vh;
    box-sizing: border-box;
    border: unset;
    color: #737373;
}

.formulario-button {
    background-color: #00a4ef;
    border: none;
    color: #ffffff;
    font-size: 25px;
    width: 100%;
    padding: 2vh;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 1vh;
}

.label-click {
    color: #2571b7;
}

.input-click {
    border: 2px solid #2571b7;
    margin: 7px 3px 7px 3px;
}

@media(min-width: 1024px) {
    .form-formulario {
        max-width: 400px;
    }
}