@font-face {
    font-family: "Segoeu";
    font-weight: 300;
    src: url("../assets/segoeui.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Segoeu";
    font-weight: bold;
    src: url("../assets/segoeuib.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Segoeu";
    font-weight: 200;
    src: url("../assets/segoeuil.ttf");
    font-display: swap;
}

html{
    font-size: 14px;
    font-family: "Segoeu";
    font-weight: 300;
}

.desk {
    display: none;
}

.mobile {
    display: block;
}

@media(min-width: 1024px){
    .desk{
        display: block;
    }
    .mobile {
        display: none;
    }

    html {
        font-size: 18px;
    }
}