header {
    position: fixed;
    z-index: 30;
    width: 100%;
    top: 0;
}

header .mobile {
    background-color: #2571b7;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 20;
}

header .desk {
    display: none;
    z-index: 20;
}

.menu-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.item-menu:hover {
    background-color: #002050;
    border: none;
    color: #ffffff;
}

.lista-menu {
    position: absolute;
    left: -300%;
    transition: 0.3s ease-out;
    top: calc(10vh - 1px);
    background-color: #2571b7;
    padding: 30px;
    text-align: center;
    height: calc(90vh + 1px);
    box-sizing: border-box;
    width: 267px;
}

.item-menu {
    text-align: center;
    width: 100%;
    padding: 7px 18px;
    box-sizing: border-box;
}

.open {
    left: 0;
}

.item-menu:last-child {
    position: absolute;
    text-align: start;
    bottom: 30px;
}

@media(min-width: 1024px) {
    header .mobile {
        display: none;
    }
    header .desk {
        background-color: #2571b7;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 120px;
        position: relative;
    }
    .lista-menu {
        position: relative;
        left: 0;
        top: 0;
        background-color: unset;
        padding: 30px;
        text-align: center;
        height: max-content;
        box-sizing: border-box;
        width: 76%;
        display: flex;
        justify-content: center;
    }
    .item-menu {
        font-size: 14px;
    }
    .item-menu:last-child {
        position: relative;
        text-align: center;
        bottom: 0;
        margin-left: 20px;
    }
}

@media(min-width: 1200px) {
    .lista-menu {
        width: 70%;
    }
}