.hero-section {
    background-image: url("../assets/ballpen-blur-close-up-461077.png");
    background-size: cover;
    width: 100%;
    height: 90vh;
    background-position: 35%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 10vh;
}

.hero-section::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-button {
    background-color: #00a4ef;
    border: none;
    color: #ffffff;
    margin-bottom: 12vh;
    font-size: 24px;
    padding: 15px 30px;
}

.hero-logo {
    display: block;
    margin: 0 auto;
}

.hero-titulo {
    width: 100%;
    padding: 15vh 0 10vh;
    font-size: 46px;
    font-weight: bold;
}

.hero-wrapper {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-align: center;
}

.hero-conteudo {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero-gradiente {}

.hero-logo-arrow {
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
}

@media(min-width: 1024px) {
    .hero-section {
        padding: 0 120px;
    }
    .hero-wrapper {
        text-align: start;
    }
    .hero-logo {
        display: block;
        margin: 0;
    }
    .hero-titulo {
        padding: 20vh 0 5vh;
        font-size: 66px;
    }
    .hero-conteudo {
        font-size: 34px;
        margin-bottom: 120px;
    }
    .hero-button {
        margin-bottom: 12vh;
        font-size: 34px;
    }
    .hero-arrow {
        border-right: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        width: 30px;
        height: 30px;
        transform: rotate(45deg)
    }
    .hero-logo-arrow {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}