.footer-text {
    margin: 3vh 0 3vh 0;
    text-align: center;
    color: #c4c4c4;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-warp {
    margin-top: 8vh;
}

.logo-size {
    width: auto;
    height: auto;
    transform: scale(0.8);
}