.marshroom-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
}

.marshroom-section:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.marshroom-section {
    max-height: 200px;
    position: relative;
    margin-bottom: 300px;
}

.marshroom-texto {
    position: absolute;
    font-size: 25px;
    color: #ffffff;
    z-index: 15;
    text-align: center;
    top: 50px;
}

@media(min-width: 1024px) {
    .marshroom-texto {
        padding: 7vh 9vh;
    }
}