.table-section {
    text-align: center;
    margin: 0 30px;
    font-size: 14px;
}

.titulo-teable-section {
    color: #f25022;
    font-size: 16px;
    padding: 4vh 1vh 1vh 1vh;
}

.conteudo-teable-section {
    font-size: 14px;
    padding: 2vh;
}

.borda-table {
    border: 2px solid #dedede;
    border-bottom: unset;
}

.borda-table:last-child {
    border-bottom: 2px solid #dedede;
    margin-bottom: 7vh;
}

.table-section .text-conteudo-blue {
    margin-bottom: 4vh;
}

@media(min-width: 1024px) {
    .desk-table {
        display: flex;
        margin-bottom: 4vh;
    }
    .borda-table {
        width: 25%;
        border-bottom: 2px solid #dedede;
        border-right: unset;
    }
    .borda-table:last-child {
        margin: unset;
        border-right: 2px solid #dedede;
    }
}