.target-section {
    text-align: center;
    margin: 0 30px;
    font-size: 14px;
}

.text-conteudo {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.text-conteudo:first-child {
    margin-top: 8vh;
}

.text-conteudo-blue {
    margin-top: 5vh;
    color: #2571b7;
    font-size: 24px;
    font-weight: bold;
}

.card {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: start;
    margin-bottom: 5vh;
    box-sizing: border-box;
    padding: 1vh;
}

.primeiro {
    background-color: #0072c6;
}

.segundo {
    background-color: #2c5898;
}

.terceiro {
    background-color: #207245;
}

.quarto {
    background-color: #cb4a32;
}

.quinto {
    background-color: #733781;
}

.sexto {
    background-color: #00aff0;
}

.setimo {
    display: none;
}

.oitavo {
    display: none;
}

.nono {
    display: none;
}

.decimo {
    display: none;
}

.card-logo {
    padding: 10px;
    width: 64px;
    height: 64px;
}

.titulo-card {
    font-size: 20px;
    padding-bottom: 2vh;
    margin-top: 2vh;
}

.conteudo-card {
    font-size: 12px;
    padding: 0 2vh 2vh 0;
}

card-wapper {
    width: 80%;
}

@media(min-width: 1024px) {
    span {
        color: orangered;
    }
    .target-container {
        display: flex;
        justify-content: space-between;
    }
    .card-container {
        width: calc(100% / 2 - 10px);
    }
    .setimo {
        background-color: #094ab2;
        display: flex;
    }
    .oitavo {
        background-color: #0073c6;
        display: flex;
    }
    .nono {
        background-color: #0093be;
        display: flex;
    }
    .decimo {
        background-color: #5558af;
        display: flex;
    }
}